<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE SHELVES</title>
</head>
<body>
    <h1>CREATE SHELVES</h1>
    <form method="post" action="/shelves_post">
        <label for="category">category:</label>
        <input type="text" id="category" name="category"><br>
        <label for="total_books">total_books:</label>
        <input type="text" id="total_books" name="total_books"><br>
        <input type="submit" value="create">
    </form>
    <a href="/">Back to shelves</a>
</body>
</html>